body {
    text-align: center;
}

.button-menu{
    width: 300px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #68a2e1;
}

#tela{
    border: solid 1px;
}

input {
    width: 300px;
    height: 60px;
    font-size: 50px;
}

.divSaldo{
    display: inline-block;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}